<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Hastane Randevu Sistemi - HRS</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->


    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/asset/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link href="~/global-template/assets/vendor/animate.css/animate.min.css" rel="stylesheet" />

    <link href="~/global-template/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />


    <link href="~/global-template/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/global-template/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/global-template/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/global-template/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/global-template/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Medilab
    * Updated: Jul 27 2023 with Bootstrap v5.3.1
    * Template URL: https://bootstrapmade.com/medilab-free-medical-bootstrap-theme/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>
    <div id="topbar" class="d-flex align-items-center fixed-top">
    </div>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center">

            <h1 class="logo me-auto"><a href="/">HRS</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                    <li><a class="nav-link scrollto" href="#services">Departments</a></li>
                    <li><a class="nav-link scrollto" href="#doctors">Doctors</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
        <div class="container">
            <h1>Sisteme Hoşgeldiniz</h1>
            <h2>Bu Sayfada Hastanemizin Doktor, Departman Gibi Bilgilerini Görüntüleyebilirsiniz.</h2>
        </div>
    </section><!-- End Hero -->

    <main id="main">
        @RenderBody()

    </main>

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="fas fa-arrow-up"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/global-template/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="~/global-template/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/global-template/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/global-template/assets/vendor/swiper/swiper-bundle.min.js"></script>

    <!-- Template Main JS File -->
    <script src="~/global-template/assets/js/main.js"></script>

</body>

</html>