@{
    Layout = "_LayoutPatient";
}

<div class="container justify-content-center align-items-center d-flex" style="height:10vh;">
    <div class="card w-50">
        <div class="card-body text-center">
            <strong class="h3">HOŞGELDİNİZ</strong>
        </div>
    </div>
</div>